.main-content-container {
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  background-color: white;
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}
