nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
}

nav a,
nav span {
  display: block;
  padding: 8px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--blue);
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
}

nav span:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
  cursor: pointer;
}
